@page
@model PPDDocumentation.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}
<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>

    <p>This ASP.NET Core Razor Pages web app will serve as a single source of documentation for Personal Professional Development.</p>
</div>

<h3>Colour Palette - Progress Metre</h3>

<div class="row">
	<div class="progressCircle progress10percent"></div> <br/>
	<div class="progressCircle progress20percent"></div> <br/>
	<div class="progressCircle progress30percent"></div> <br/>
	<div class="progressCircle progress40percent"></div> <br/>
	<div class="progressCircle progress50percent"></div> <br/>
	<div class="progressCircle progress60percent"></div> <br/>
	<div class="progressCircle progress70percent"></div> <br/>
	<div class="progressCircle progress80percent"></div> <br/>
	<div class="progressCircle progress90percent"></div> <br/>
	<div class="progressCircle progress100percent"></div>
</div>