@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model PPDDocumentation.Pages.AddGoalModel
@{
    ViewData["Title"] = "Add Goal";
}

<h1>Add Goal</h1>

<form method="post">
    <div>
        <div class="row pb-1">
            <div class="col-2">
                <label id="lblTitle" >Title*</label>
            </div>
            <div class="col-9">
                <input class="col-9" asp-for="TaskViewModel!.Title" />
                <span asp-validation-for="TaskViewModel!.Title" class="text-danger"></span>
            </div>
        </div>

        <div class="row pb-1">
            <div class="col-2">
                <label id="lblDescription" >Description*</label>
            </div>
            <div class="col-9">
                <input class="col-9" asp-for="TaskViewModel!.Description" />
                <span asp-validation-for="TaskViewModel!.Description" class="text-danger"></span>
            </div>
        </div>

        <div class="row pb-1">
            <div class="col-2">
                <label id="lblDueBy" >Due By*</label>
            </div>
            <div class="col-9">
                <input class="col-9" asp-for="TaskViewModel!.DueBy" />
                <span asp-validation-for="TaskViewModel!.DueBy" class="text-danger"></span>
            </div>
        </div>

        <div class="row pb-1">
            <div class="col-2">
                <label id="lblPercentageComplete" >Percentage Complete</label>
            </div>
            <div class="col-9">
                <input class="col-9" asp-for="TaskViewModel!.PercentageComplete" />
                <span asp-validation-for="TaskViewModel!.PercentageComplete" class="text-danger"></span>
            </div>
        </div>

        <div class="row pb-1">
            <div class="col-2">
                <label id="lblWhatILearnt">What did I learn?</label>
            </div>
            <div class="col-9">
                <textarea class="col-9" style="height:300px;" asp-for="TaskViewModel!.WhatILearnt"></textarea>
            </div>
        </div>

        <input id="addAction" class="btn btn-primary" type="submit" value="Add Goal" asp-page-handler="AddGoal" />
    </div>
</form>